---
---

$mobile-width: 480px;

@media(max-width: $mobile-width) {
  .footer-col-3 {
    width: 100% !important;
    text-align: center  !important;
  }
}

.footer-col-3 {
  width: -webkit-calc(40% - (30px / 2)) ;
  width: calc(33% - (30px / 2)) ;
}

.social-media-list li, .pagination li {
  margin: 0 !important;
}

.social-media-list li a, .pagination li a {
  padding: 0 !important;
  border: 0 !important;
}

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";